/                    @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft
/docs/               @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/README.md           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/**/docs/            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
/**/README.md        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @seanohair22 @zschafft-intel @DrewBearly @adimoft  @open-edge-platform/open-edge-platform-docs-write
LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @open-edge-platform/open-edge-platform-docs-write
