<?xml version="1.0"?>
<!--
Copyright (C) 2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
-->
<model>
  <name>Generic RGB-D Camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>Reusable aligned RGB, depth, camera-info, and point-cloud sensor.</description>
</model>